dist/
./exed
exe.db
exe.db-wal
exe.db-shm
ghuser/whoami.sqlite3*
.vscode/
node_modules/
sshpiper/sshpiperd
sshpiper/metrics
exed
*.cover
# codex seems to need a local go cache because of its sandbox.
# it keeps recreating this; stop fighting it.
.gocache
.gomodcache
.gopath
.DS_Store
.cache
tmpkey*
