dist/
/exed
exe.db
exe.db-wal
exe.db-shm
ghuser/whoami.sqlite3*
.vscode/
node_modules/
deps/sshpiper/sshpiperd
deps/sshpiper/metrics
/cmd/exed/exed
*.cover
# codex seems to need a local go cache because of its sandbox.
# it keeps recreating this; stop fighting it.
.gocache
.gomodcache
.gopath
.DS_Store
.cache
tmpkey*
# so i can 'go test -c ./...', and 'go test -race -c && stress foo.test'
*.test

# exelet embedded fs
exelet/fs/kernel
exelet/fs/rovol
exelet/kernel/output
exeletd
/exelet-ctl
# welcomed
exeuntu/welcome/welcomed

ops/kernel-builder/output
