[Unit]
Description=Refresh GKE credentials
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/refresh-gke-credentials.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target