{{define "topbar_style"}}
<link rel="stylesheet" href="/static/topbar.css" />
{{end}}
{{define "topbar"}}
<header>
  <div class="nav-container">
    <div class="nav-left">
      <a href="https://exe.dev" class="nav-logo-img"><img src="/static/exy.webp" alt="exe.dev logo" /></a>
      <a href="https://exe.dev" class="nav-logo-text">exe.dev</a>
      <a href="https://exe.dev/docs" class="nav-link{{if eq .ActivePage "docs"}} active{{end}}">docs</a>
      <a href="/" class="nav-link{{if eq .ActivePage "blog"}} active{{end}}">blog</a>
    </div>
    <div class="nav-right">
      <a href="https://exe.dev/auth" class="btn btn-primary">Dashboard</a>
    </div>
  </div>
</header>
{{end}}
