[Unit]
Description=exe.dev exelet
After=network.target
Wants=network-online.target

[Service]
Type=simple
CPUWeight=1024
IOWeight=1024
WorkingDirectory=/data/exelet
EnvironmentFile=-/etc/default/exelet
KillMode=process

# Use the latest exeletd
ExecStart=/bin/bash -c 'exec "/home/ubuntu/exeletd.latest" "-D"'

Restart=always
RestartSec=5

# Use journald for logging (remove file redirection)
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
